CONFIG Android25plus {
  inputDir  = "./test-resources/android-cc/"; 
  outputDir = "./test-resources/android-cc/target/mcsl/25plus/";
	
	load "base/";
	load "01plus/";
	load "10plus/";
	load "11plus/";
	load "14plus/";
	load "16plus/";
	load "18plus/";
	load "20plus/";
	load "22plus/";
	load "26plus/";
}