config Android0116 {
	src = /Users/rbonifacio/workspace-rascal/CrySL/samples/jca; 
	out = /Users/rbonifacio/workspace-rascal/CrySL/samples/jca/android-bsi/target/research/0116;
	
	load spec base/;
	
	load refinement android-bsi/01plus/;
	load refinement android-bsi/0119/;
	load refinement android-bsi/10plus/;	
	load refinement android-bsi/1025/;
	load refinement android-bsi/11plus/;
	load refinement android-bsi/14plus/;
	load refinement android-bsi/16plus/;
	
	
}