config android25plus {
	src = /Users/rbonifacio/workspace-rascal/CrySL/samples/jca; 
	out = /Users/rbonifacio/workspace-rascal/CrySL/samples/jca/android-bsi/target/research/25plus;
	
	load spec base/;
	
	load refinement android-bsi/01plus/;
	load refinement android-bsi/10plus/;
	load refinement android-bsi/1025/;
	load refinement android-bsi/11plus/;
	load refinement android-bsi/14plus/;
	load refinement android-bsi/16plus/;
	load refinement android-bsi/17plus/;
	load refinement android-bsi/18plus/;
	load refinement android-bsi/20plus/;
	load refinement android-bsi/22plus/;
	load refinement android-bsi/23plus/;
	load refinement android-bsi/24plus/;
	load refinement android-bsi/26plus/;
		
}